body {
  background-color: #F0F8FF;
}

#container {
  width: 800px;
  margin: auto;
  text-align: center;
}

#entry-container, #output-container {
  float: left;
  width: 400px;
  height: 300px;
}

#entry-container p {
  color: #00d;
}

#text-entry {
  font-size: 16px;
  width: 380px;
  height: 296px;
}

#latex-container, #features-container {
  display: inline-block;
  width: 400px;
  height: 300px;
}

#latex-container p {
  color: #d00;
}

#latex {
  background-color: #fff;
  width: 380px;
  height: 300px;
  border: 1px solid #000;
  overflow-y: scroll;
  margin: auto;
  text-align: left;
}

#features {
  width: 380px;
  height: 300px;
  text-align: left;
}

#output {
  background-color: #fff;
  width: 380px;
  min-height: 300px;
  border: 1px solid #000;
  text-align: left;
}

#convert {
  display: block;
  margin: 10px auto 0 auto;
  height: 30px;
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.description {
  text-align: left;
}

li {
  text-align: left;
}